# Secrets — never commit these
.env
*.json

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

#Resume
ArpitBatra.pdf
